* Braek
* Continue
* Pass

In [15]:
a = 1 
while a < 5 :
    print(a)
    if a == 4 :
        break
    a = a +1

1
2
3
4

In [17]:
a = 1 
while a < 5 :
    print(a)
    a = a + 1
    if a == 3:
        continue

1
2
3
4

In [2]:
a=6
while a < 5 :
    pass

In [4]:
l=[2,3,4,5,6]
for i in l:
    pass

In [5]:
a=2
while a < 4 :
    break

In [8]:
a=5
while a < 4 :
    continue
    a=a+1

In [9]:
n = 5 
for i in range(0,n) : 
    for j in range(0,i+1):
        print("* ", end = "")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [79]:
for i in d :
    print(i,d[i])

a  fsdfds
b  fsdfsaf
c  [1, 2, 3, 4, 5]
d (4, 5, 6, 7)
e sudh

In [81]:
for i in d.items():
    print(i)

('a ', 'fsdfds')
('b ', 'fsdfsaf')
('c ', [1, 2, 3, 4, 5])
('d', (4, 5, 6, 7))
('e', 'sudh')

In [82]:
s= {3,546,56,56,56,5,66,7,67,6,7,3,43,534,53,5,7}

In [83]:
s

{3, 5, 6, 7, 43, 53, 56, 66, 67, 534, 546}

In [87]:
for i in s :
    print(i)

66
546
3
5
67
7
6
43
53
534
56

In [88]:
a = 7 
while i < 7 :
    pass

In [89]:
for i in range(6):
    print ("num")
    if i==2:
        continue
    print(i)

num
0
num
1
num
num
3
num
4
num
5

In [98]:
l=["name","email-id","phone","SAD"]
for i in l:
    
    
    if i=="phone":
         break
    print(i)
else:
      print("check this statement")

name
email-id

In [10]:
a = (1,2,3,4)
for i in a:
    
    pass
print(i)

4

In [11]:
## for trriangle series
a = 10
for i in range(1,a):
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [12]:
s= {23,2,3,4,5,6,6,4,3,2,2,45,5,6,7,8,8,9}
for i in s:
    print(i)

2
3
4
5
6
7
8
9
45
23

In [13]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("* " ,end="")
    print("\r")

*
* *
* * *
* * * *
* * * * *