# For Loop

In [1]:
l = [1,2,3,4,5,6,7]
for i in l :
    print(i)

1
2
3
4
5
6
7

In [2]:

for i in "sanowar" :
    print(i)

s
a
n
o
w
a
r

In [3]:
t = (1 ,2,3,4,5,6,6)

In [4]:
for i in t :
    print(i)

1
2
3
4
5
6
6

In [5]:
l = [1 ,4,5.6 , 4+7j , "sanowar" ]

In [6]:
for i in l :
    print(type(i) , "type of " , i )

<class 'int'> type of  1
<class 'int'> type of  4
<class 'float'> type of  5.6
<class 'complex'> type of  (4+7j)
<class 'str'> type of  sanowar

In [7]:
type(1)

int

In [8]:
l = [1 ,4,5.6 ]
l1 = []
for i in l :
    print(i+2)
    l1.append(i+2)

3
6
7.6

In [9]:
l1

[3, 6, 7.6]

In [10]:
l = [2,45,78,12,"sanowar" , 6+7j,[56,67,78,"dsfdsf"]]

In [11]:
for i in l :
    if type(i) == int :
        print(i)
    elif type(i) == list:
        for j in i :
            if type(j) == int:
                print(j)

2
45
78
12
56
67
78

In [12]:
l = [2,45,78,12,12,12,12,"sanowar" , 6+7j,[56,67,78,"dsfdsf"]]
#q1 . try to print index of all the element 
#q2 . Try to extract all the list of char if element is string 
#q3 . Try to return a list after doing a square of all the int element

In [13]:
range(4)

range(0, 4)

In [14]:
len(l)

10

In [15]:
for i in range(len(l)):
    print("index" , i  , "for an element " , l[i])

index 0 for an element  2
index 1 for an element  45
index 2 for an element  78
index 3 for an element  12
index 4 for an element  12
index 5 for an element  12
index 6 for an element  12
index 7 for an element  sanowar
index 8 for an element  (6+7j)
index 9 for an element  [56, 67, 78, 'dsfdsf']

In [16]:
l

[2, 45, 78, 12, 12, 12, 12, 'sanowar', (6+7j), [56, 67, 78, 'dsfdsf']]

In [17]:
for i,j  in enumerate(l):
    print(i ,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sanowar
8 (6+7j)
9 [56, 67, 78, 'dsfdsf']

In [18]:
l

[2, 45, 78, 12, 12, 12, 12, 'sanowar', (6+7j), [56, 67, 78, 'dsfdsf']]

In [19]:
for i in l :
    if type(i) == str :
        l1 = []
        for j in i :
            l1.append(j)
        print(l1)

['s', 'a', 'n', 'o', 'w', 'a', 'r']

In [20]:
l = [2,45,78,12,12,12,12,"sanowar"  ,"hossain" , 6+7j,[56,67,78,"dsfdsf"]]

In [21]:
l

[2,
 45,
 78,
 12,
 12,
 12,
 12,
 'sanowar',
 'hossain',
 (6+7j),
 [56, 67, 78, 'dsfdsf']]

In [22]:

for i in l :
    if type(i) == int :
            print(i**2)

4
2025
6084
144
144
144
144

In [24]:
l

[2,
 45,
 78,
 12,
 12,
 12,
 12,
 'sanowar',
 'hossain',
 (6+7j),
 [56, 67, 78, 'dsfdsf']]

In [25]:
l = [2,45,78,12,"sanowar", 6+7j,[56,67,78,"hossain"]]
l2=[]
for i in l :
    if type(i) == int:
        l2.append(i**2)

l2

[4, 2025, 6084, 144]

In [26]:
l=[2,45,78,12,"sanowar",6+7j,[56,67,78]]
for i in l :
    print("index of",l[i],"is",i)

index of 78 is 2

IndexError: list index out of range

In [27]:
l[45]

IndexError: list index out of range

In [28]:
for i in range (len(l1)): # question 
    print("index of ",i ,"for an element",l1[i])

index of  0 for an element s
index of  1 for an element a
index of  2 for an element n
index of  3 for an element o
index of  4 for an element w
index of  5 for an element a
index of  6 for an element r

In [29]:
with open("carbon_nanotubes.csv", 'r') as file:
    data = csv.reader(file,delimiter = '\n')
    next(data)

    for i in data:
        j = i[0].replace(',',':').split(';') 
#         print(j)
#         z = ",".join(j)
#         print(z)
        query = "INSERT INTO CarbonNanoTube.NanoTubeDetails values ({});".format(j)
        cursor.execute(query)
    mydb.commit() 
    print("Data Inserted")

FileNotFoundError: [Errno 2] No such file or directory: 'carbon_nanotubes.csv'

In [30]:
l=[2,45,78,12,"sanowar",6+5j,[56,67]]
for i in l:
    if type(i)==str:
        print(i)

sanowar

In [31]:
for j in l:
      if type(j)== str:
        print(j)
        for words in j:
              print(words)

sanowar
s
a
n
o
w
a
r

In [32]:
l = [1,2,3,5.6,4+5j,7.6,'sanowar']
for i in l:
      if type(i) == str:
        l1 = []
        for j in i:
          l1.append(j)
        print(l1)

['s', 'a', 'n', 'o', 'w', 'a', 'r']

In [33]:
l1=[2,4,5,6,7,"sanowar",6+7j,[56,67,78,"dfdfs"]]
for i in l1:
      if type(i)== str:
        l2=[]
        for j in i:
            l2.append(j)
        print (l2)

['s', 'a', 'n', 'o', 'w', 'a', 'r']

In [34]:
l = [2,45,78,12,"sanowar", 6 + 7j, [56,67,78,"hossain"]]
sqr = []
for i in range(len(l)):
    if type(l[i]) == list :
        print("flag")
        for j in range(len(l[i])):
            if type(l[i][j]) == int:
                m = l[i][j]**2
                sqr.append(m)

flag

In [35]:
sqr

[3136, 4489, 6084]

In [36]:
l=[1,24,5.6,"sanowar",6+5j,[56,78,99]]
for i in l:
    if type(i)==float or  type(i)==int:
        print (i)

1
24
5.6

In [37]:
list(range(4))

[0, 1, 2, 3]

In [38]:
l

[1, 24, 5.6, 'sanowar', (6+5j), [56, 78, 99]]

In [39]:
len(l)

6

In [40]:
list(range(len(l)))

[0, 1, 2, 3, 4, 5]

In [41]:
for i in range(len(l)):
    print(l[i])

1
24
5.6
sanowar
(6+5j)
[56, 78, 99]

In [42]:
l

[1, 24, 5.6, 'sanowar', (6+5j), [56, 78, 99]]

In [43]:
l[2]

5.6

In [44]:
2 & 3

2

In [45]:
2 and 3

3

In [46]:
l = [1,2,3]
s =  [1,2,3,[23,'s',32,'4r5'],'s']

l.extend(s)
l

[1, 2, 3, 1, 2, 3, [23, 's', 32, '4r5'], 's']

In [47]:
l.append(s)

In [48]:
l=[2,45,78,12,"sanowar",6+7j,[56,67,78,"dsfdsf"]]
o=[]
for i in l:
    if type(i)== str:
        o.append(i)
    if type(i)==list:
        for j in i:
            if type(j)==str:
                o.append(j)
                
        print(o)

['sanowar', 'dsfdsf']

In [49]:
l=[2, 45, 78, 12, 'sanowar', (6+7j), [56, 67, 78, 'dsfsdf']]
l2 = []
for i in l:
    if type(i) == int:
        l2.append(i**2)
print(l2)

[4, 2025, 6084, 144]

In [50]:
for i in l :
    if type(i)==str:
        l1=[]
        for j in i:
            l1.append(j)
        print(l1)

['s', 'a', 'n', 'o', 'w', 'a', 'r']

In [51]:
list( range(len(s)))

[0, 1, 2, 3, 4]

In [52]:
s = 'this is a data science group'

for i in range(len(s)):
    print(s[-i])

t
p
u
o
r
g

e
c
n
e
i
c
s

a
t
a
d

a

s
i

s
i
h

In [53]:
l=[2,45,78,12, 12, 12, "ash", 7+8j, [6,87,34,"gvjhbjknjn"]]
for i in l:
    if type(i)==str:
        a=[]
        for h in i:
            a.append(h)
    if type(i)==list:
        for k in i:
            if type(k)==str:
                for m in k:
                    a.append(k)
                print(a)

['a', 's', 'h', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn', 'gvjhbjknjn']

In [54]:
l

[2, 45, 78, 12, 12, 12, 'ash', (7+8j), [6, 87, 34, 'gvjhbjknjn']]

In [55]:
list(range(len(l)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
for i in [0, 1, 2, 3, 4, 5, 6, 7, 8]:
    print(l[i])

2
45
78
12
12
12
ash
(7+8j)
[6, 87, 34, 'gvjhbjknjn']

In [57]:
l[0]

2

In [58]:
l=[2,45,"jicku",12,"sanowar",6+7j,[56,67,78,"dsdsdsf"]]
for i in l:
    if type(i)==str:
        list_c=[]
        for j in range(0,len(i)):
            list_c.insert(j,i[j])
        print(list_c)

['j', 'i', 'c', 'k', 'u']
['s', 'a', 'n', 'o', 'w', 'a', 'r']

In [59]:
l2 = [] 
for i in l:
    if type(i)==str:
        for j in i:
            l2.append(j)

In [60]:
l2

['j', 'i', 'c', 'k', 'u', 's', 'a', 'n', 'o', 'w', 'a', 'r']

In [61]:
l

[2, 45, 'jicku', 12, 'sanowar', (6+7j), [56, 67, 78, 'dsdsdsf']]

In [62]:
for i in l :
    if type(i) ==complex:
        print(i.real)

6.0

In [63]:
c=0
#dsffasdfsadfsadfsa
for i in [0,1,2]:
    for j in [0,1,2]:
        if i != j:
            c=c+1
            c=c-3+1

In [64]:
c

-6

In [65]:
"""fdsafsa
fdsaf
dsa
fsad
fsa
f
saf
sadf"""

'fdsafsa\nfdsaf\ndsa\nfsad\nfsa\nf\nsaf\nsadf'

In [66]:
l

[2, 45, 'jicku', 12, 'sanowar', (6+7j), [56, 67, 78, 'dsdsdsf']]

In [67]:
for i in [0, 1, 2, 3, 4]:
    print(i)

0
1
2
3
4

In [68]:
list(range(len(l)))

[0, 1, 2, 3, 4, 5, 6]

In [69]:
l = [4,5,6,7,8]
for i in range(len(l)) :
    print(i+2)

2
3
4
5
6

In [70]:
l3 = [2,45, 78,12,12,12,3,12, 'sanowar', 6+7j, [56,67,78,'sahfgu']]
for i in l:
    print("Index",i,"for an element ", l3[i])
    if type(i)==str:
        l4=[]
        for j in i:
            l4.append(j)
        print(l4)

Index 4 for an element  12
Index 5 for an element  12
Index 6 for an element  3
Index 7 for an element  12
Index 8 for an element  sanowar

In [71]:
l=[2,4,4,"fdfd",5+2j,"dsdfsfs"]
for i in l:
    print(i, "is the str")

2 is the str
4 is the str
4 is the str
fdfd is the str
(5+2j) is the str
dsdfsfs is the str