# Tuple
* Slicing/indexing possible
* Immuteable

tuple can be possible included value all kind of elements

In [1]:
tup=(23,'sa',4+6j,True, (3,2,4),[3,4,5,'rr'],{3,4,5,6},{'key':2,'key2':'age'})

In [2]:
t = (1,2,3,4,5)

In [3]:
type(t)

tuple

In [4]:
t1 = ("sudh" , 345 , 45+78j , 546.56 ,True)

In [5]:
 l = ["sudh" , 345 , 45+78j , 546.56 ,True]#list

In [6]:
type(t1)

tuple

In [7]:
type(l)

list

In [8]:
t2 = ()

In [9]:
type(t2)

tuple

In [10]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [11]:
l[0:2]

['sudh', 345]

In [12]:
t1[0:2]

('sudh', 345)

In [13]:
t1[::-1]

(True, 546.56, (45+78j), 345, 'sudh')

In [14]:
t1[-1]

True

In [15]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [16]:
t1[0::2]

('sudh', (45+78j), True)

In [17]:
l

['sudh', 345, (45+78j), 546.56, True]

In [18]:
l1 = [4,5,6,7]

In [19]:
l[0] = "sanowar"

In [20]:
l

['sanowar', 345, (45+78j), 546.56, True]

In [21]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [22]:
t1[0] = "xyz"#can't be possible add

TypeError: 'tuple' object does not support item assignment

In [23]:
s = "hossain"

In [24]:
s[0] = 45 # can't be possible for string object

TypeError: 'str' object does not support item assignment

In [25]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [26]:
t2 = (34,56,56,56,5,656)

In [27]:
t1+t2

('sudh', 345, (45+78j), 546.56, True, 34, 56, 56, 56, 5, 656)

In [28]:
l1

[4, 5, 6, 7]

In [29]:
l+l1

['sanowar', 345, (45+78j), 546.56, True, 4, 5, 6, 7]

In [30]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [31]:
t1*2

('sudh', 345, (45+78j), 546.56, True, 'sudh', 345, (45+78j), 546.56, True)

In [32]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [33]:
t1.count("sudh")

1

In [34]:
t1.index("sudh")

0

In [ ]:
l. #tab check the builting function of list

In [35]:
t = (45,54,54,5, (4,5,6) , ("sudh"))

In [36]:
t

(45, 54, 54, 5, (4, 5, 6), 'sudh')

In [37]:
t1 = ([3,4,54,6]  , ("sd" , 435,56) , "ushd")

In [38]:
t1[0][2] = "sudh"#indexing

In [39]:
t1

([3, 4, 'sudh', 6], ('sd', 435, 56), 'ushd')

In [40]:
t1[0] = "sdfsaf"# can't possible for tuple

TypeError: 'tuple' object does not support item assignment

In [41]:
t1 = (53,54,45,4,5,4,54)

# Convert tuple to list

In [42]:
l  = list(t1)

In [43]:
l

[53, 54, 45, 4, 5, 4, 54]

In [44]:
tuple(l)

(53, 54, 45, 4, 5, 4, 54)

In [45]:
l = [1,2,3,4,5,6,76,5,5,5,5,5,5,5,2,3,4,5,6,1,2,3]